<div class="col-md-4">
  <div class="well">
    <label>Nombre</label>
    <p>{{usuario.nombre}}</p>
    <label>Email</label>
    <p>{{usuario.email}}</p>
    <label>Usuario</label>
    <p>{{usuario.usuario}}</p>
    <label>Crédito</label>
    <p>{{usuario.credito}}</p>
  </div>
</div>

<div class="col-md-8">
  <div class="well">
   <table style="width: 100%;">
     <tr>
       <td valign="center" class="tex-center">
           <button type="button" class="btn btn-primary">10 Anycoins</button>
       </td>
       <td valign="center" class="tex-center">
         <button type="button" class="btn btn-primary">20 Anycoins</button>
       </td>
       <td valign="center" class="tex-center">
         <button type="button" class="btn btn-primary">50 Anycoins</button>
       </td>
     </tr>
     <tr>
       <td valign="center" class="tex-center">
         <button type="button" class="btn btn-primary">100 Anycoins</button>
       </td>
       <td valign="center" class="tex-center">
         <button type="button" class="btn btn-primary">200 Anycoins</button>
       </td>
       <td valign="center" class="tex-center">
         <button type="button" class="btn btn-primary">500 Anycoins</button>
       </td>
     </tr>
   </table>
  </div>
</div>
